<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container">
    <div class="elevator-div">
        <div class="floor-div">
            <h1>10</h1>
            <div *ngIf="floor==10"><i class="fa-solid fa-circle"></i></div>
        </div>
        <div class="floor-div">
            <h1>9</h1>
            <div *ngIf="floor==9"><i class="fa-solid fa-circle"></i></div>
        </div>
        <div class="floor-div">
            <h1>8</h1>
            <div *ngIf="floor==8"><i class="fa-solid fa-circle"></i></div>
        </div>
        <div class="floor-div">
            <h1>7</h1>
            <div *ngIf="floor==7"><i class="fa-solid fa-circle"></i></div>
        </div>
        <div class="floor-div">
            <h1>6</h1>
            <div *ngIf="floor==6"><i class="fa-solid fa-circle"></i></div>
        </div>
        <div class="floor-div">
            <h1>5</h1>
            <div *ngIf="floor==5"><i class="fa-solid fa-circle"></i></div>
        </div>
        <div class="floor-div">
            <h1>4</h1>
            <div *ngIf="floor==4"><i class="fa-solid fa-circle"></i></div>
        </div>
        <div class="floor-div">
            <h1>3</h1>
            <div *ngIf="floor==3"><i class="fa-solid fa-circle"></i></div>
        </div>
        <div class="floor-div">
            <h1>2</h1>
            <div *ngIf="floor==2"><i class="fa-solid fa-circle"></i></div>
        </div>
        <div class="floor-div">
            <h1>1</h1>
            <div *ngIf="floor==1"><i class="fa-solid fa-circle"></i></div>
        </div>
        <div class="floor-div">
            <h1>0</h1>
            <div *ngIf="floor==0"><i class="fa-solid fa-circle"></i></div>
        </div>
    </div>
    <div class="elevator-number-div">
        <div>
            <div class="elevator-number">
                <a [class]="'elevator-btn '+ getClass(10,false)" (click)="elevatorDown(10)"><i
                        class="fa-solid fa-circle-chevron-down fa-2xl"></i></a>
                <h1>10</h1>
            </div>
            <div class="elevator-number">
                <a [class]="'elevator-btn '+ getClass(9,false)" (click)="elevatorDown(9)"><i
                        class="fa-solid fa-circle-chevron-down fa-2xl"></i></a>
                <h1>9</h1>
                <a [class]="'elevator-btn '+ getClass(9,true)" (click)="elevatorUp(9)"><i class="fa-solid fa-circle-chevron-up fa-2xl"></i></a>
            </div>
            <div class="elevator-number">
                <a [class]="'elevator-btn '+ getClass(8,false)" (click)="elevatorDown(8)"><i
                        class="fa-solid fa-circle-chevron-down fa-2xl"></i></a>
                <h1>8</h1>
                <a [class]="'elevator-btn '+ getClass(8,true)" (click)="elevatorUp(8)"><i class="fa-solid fa-circle-chevron-up fa-2xl"></i></a>
            </div>
            <div class="elevator-number">
                <a [class]="'elevator-btn '+ getClass(7,false)" (click)="elevatorDown(7)"><i
                        class="fa-solid fa-circle-chevron-down fa-2xl"></i></a>
                <h1>7</h1>
                <a [class]="'elevator-btn '+ getClass(7,true)" (click)="elevatorUp(7)"><i class="fa-solid fa-circle-chevron-up fa-2xl"></i></a>
            </div>
            <div class="elevator-number">
                <a [class]="'elevator-btn '+ getClass(6,false)" (click)="elevatorDown(6)"><i
                        class="fa-solid fa-circle-chevron-down fa-2xl"></i></a>
                <h1>6</h1>
                <a [class]="'elevator-btn '+ getClass(6,true)" (click)="elevatorUp(6)"><i class="fa-solid fa-circle-chevron-up fa-2xl"></i></a>
            </div>
            <div class="elevator-number">
                <a [class]="'elevator-btn '+ getClass(5,false)" (click)="elevatorDown(5)"><i
                        class="fa-solid fa-circle-chevron-down fa-2xl"></i></a>
                <h1>5</h1>
                <a [class]="'elevator-btn '+ getClass(5,true)" (click)="elevatorUp(5)"><i class="fa-solid fa-circle-chevron-up fa-2xl"></i></a>
            </div>
            
            <div class="elevator-number">
                <a [class]="'elevator-btn '+ getClass(4,false)" (click)="elevatorDown(4)"><i
                        class="fa-solid fa-circle-chevron-down fa-2xl"></i></a>
                <h1>4</h1>
                <a [class]="'elevator-btn '+ getClass(4,true)" (click)="elevatorUp(4)"><i class="fa-solid fa-circle-chevron-up fa-2xl"></i></a>
            </div>
            <div class="elevator-number">
                <a [class]="'elevator-btn '+ getClass(3,false)" (click)="elevatorDown(3)"><i
                        class="fa-solid fa-circle-chevron-down fa-2xl"></i></a>
                <h1>3</h1>
                <a [class]="'elevator-btn '+ getClass(3,true)" (click)="elevatorUp(3)"><i class="fa-solid fa-circle-chevron-up fa-2xl"></i></a>
            </div>
            <div class="elevator-number">
                <a [class]="'elevator-btn '+ getClass(2,false)" (click)="elevatorDown(2)"><i
                        class="fa-solid fa-circle-chevron-down fa-2xl"></i></a>
                <h1>2</h1>
                <a [class]="'elevator-btn '+ getClass(2,true)" (click)="elevatorUp(2)"><i class="fa-solid fa-circle-chevron-up fa-2xl"></i></a>
            </div>
            
            <div class="elevator-number">
                <a [class]="'elevator-btn '+ getClass(1,false)" (click)="elevatorDown(1)"><i
                        class="fa-solid fa-circle-chevron-down fa-2xl"></i></a>
                <h1>1</h1>
                <a [class]="'elevator-btn '+ getClass(1,true)" (click)="elevatorUp(1)"><i class="fa-solid fa-circle-chevron-up fa-2xl"></i></a>
            </div>
            <div class="elevator-number">
                <h1>0</h1>
                <a [class]="'elevator-btn '+ getClass(0,true)" (click)="elevatorUp(0)"><i class="fa-solid fa-circle-chevron-up fa-2xl"></i></a>
            </div>
        </div>
    </div>
</div>